<% provide(:title, "Help!") %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= yield(:title) %> </h1>
    
    <p>Sorry that we can't help you quite yet as this site is still under construction.</p>
  </body>
</html>