<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= yield(:title) %> </h1>
    
    <p>Sorry, this page isn't very helpful.</p>

    <%= render 'layouts/filler' %>
  </body>
</html>