<% provide(:title, "Help!") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Team Orders App</title>
  </head>
  <body>
    <h1><%= yield(:title) %> </h1>
    <p>I need somebody... not just anybody.</p>
  </body>
</html>