<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= yield(:title) %> </h1>
    <p>This is a simple applicaiton for collecting athletic team meal orders in one place.
    It is built to replace the practice in which coaches coallated team orders from large 
    group chats. The primary goal of the app is to help insure that student atheletes make timely orders 
    and get properly fed without stressing out coaches. </p>
    <%= render 'layouts/filler' %>
  </body>

  </html>