<% provide(:title, "Order") %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= yield(:title) %> </h1>
    <h3>Coming Soon! Freaky Fast Support!</h3>
    <%= image_tag "jj.png", alt:"Jimmy Johns Logo" %>
    
    <center>
    <div>
        <h2> Current Orders </h2>
        <p> Here is an example of the style used for a table on the site. </p>
        <table class="wd-Table--striped">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Order </th>
                    <th> Date </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Lorem ipsum dolor sit amet </td>
                    <td> Nunc quis nisl nulla.</td>
                    <td> Maecenas et porta sapien.</td>
                </tr>
                <tr>
                    <td> Consectetur adipiscing elit </td>
                    <td> Donec id sem sagittis dui tristique pulvinar </td>
                    <td> Nam eleifend arcu tempus tellus mattis </td>
                </tr>
                <tr>
                    <td> Lorem ipsum dolor sit amet </td>
                    <td> Nunc quis nisl nulla.</td>
                    <td> Maecenas et porta sapien.</td>
                </tr>
                <tr>
                    <td> Consectetur adipiscing elit </td>
                    <td> Donec id sem sagittis dui tristique pulvinar </td>
                    <td> Nam eleifend arcu tempus tellus mattis </td>
                </tr>
            </tbody>
        </table>
        <button type="button">Lorem</button>
    </div>

  </body>
</html>